
body,html{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    

}
.header{
    display: flex;
    color: white;
    padding-top: 12px;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
   
}
.header ul{
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    gap: 11px;
    

}
a{
    text-decoration:none;
    color: white;
    
}
ul{
    list-style: none;
}
.container1{
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    gap: 45px;
    flex-wrap: wrap;
    background-color: #1F2937;
   

  


}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    flex-shrink: auto;
    padding: auto;
    
    

}
.container1 img{
    margin: 20px;
    border: 1px solid white;
    border-radius: 14px;
    max-height: 210px;
    max-width:380px;

    
    
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 4px;  
    max-width: 400px; 
 

}
.container3 .text{
    font-size: 12px;
    color: white;
    margin: 0;
    margin-bottom: 5px;
    


}
.container3 button{
    background-color: #3882F6;
    border-radius: 3px;
    border-color: white;

}
.container3 .hero-text{
    font-size: 32px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}
.information-text{
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 20px;
}
.container4 img{
    margin: 0;
    border: 3px solid #1F2937;
    border-radius: 12px;

}
.container4 p{
    font-size: 14px;
    margin-top: 0;
    margin-left: 6px;

}
.container5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 44px;
}
.container5 div{
    max-width: 120px;
}
.container6{
    display: flex;
    background-color:#E5E7EB ;
    flex-wrap: wrap;
    justify-content: center;
}
.container6 div{
    max-width: 500px;
    max-height: 250px;
    margin: 30px;
    font-size: 22px;
    
}
.container7{
    display: flex;
    flex-direction: column;
}
.container7 div{
    margin-top: 0px;
    padding: 0;
    margin-left: 233px;
    margin-bottom: 90px;

}
.container7 span{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin: top 4px;;
    font-size: 16px;
    font-weight: 590;
}
.container8{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex: 1;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container9{
    display: flex;
    flex:1;
    align-items: center;
    min-height: 120px;
    background-color:#3882F6;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
}
    
.container9 button{
    margin-right: auto;
    margin-left: auto;
    background-color:#3882F6;
    border-radius: 5px;
    border-color: white;
    color: white;

}
.container9 p{
    padding: 0;
    margin: 0;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    padding: 22px;
    color: white;
}
.container9 .button{
    min-width: 61px;
}